<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>content</key>
		<string>十七岁的女孩想变坏。左耳听力不好，如果站在左边说话就听不见，这样一个不起眼而内向的“我”某天突然就暗恋上了男生许弋，而同时许弋却被绿色眼影的长裙放浪女孩吧啦追求到手。心碎的“我”在偶然的机会和吧啦成为朋友，也认识了吧啦真正心爱的男生张漾。原来，张漾为了报复许弋一家而唆使吧啦引诱许弋，再抛弃了他。这个恶毒的阴谋连带出一连串的伤痛，纯洁的爱和年轻的心一一被残酷现实摧毁，当追悔之时，一切都不能回到从前。</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>content</key>
		<string>《左耳》讲述关于青春成长的故事。生动地塑造了小耳朵、吧啦、张漾、许弋等一批性格迥异的年轻人的形象，并用极富张力的文字完美展现了当下青年人成长时期的疼痛和美好。</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>content</key>
		<string>我成绩优秀，助人为乐，吃苦耐劳，尊敬长辈。我心甘情愿地过着日复一日的日子，每天晚上十点准时睡觉，第二天早上六点按时起床。我起床后的第一件事就是拉开窗帘看天，那个时候，天总是蒙蒙亮的，就算是夏天，太阳光也只是稍稍有些露头。然后，我会坐在窗前读英语，声音大而甜美。我的妈妈走过来，给我递上一杯浓浓的牛奶。我把牛奶呼啦啦喝掉，继续读我的英语。</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>content</key>
		<string>遗憾的是，我是一个有点小小缺点的好姑娘，我的心脏，还有我的左耳。生下来，就是这个样子的，心脏的手术做过了，很先进的技术，没在我身上留下任何疤痕，所以于我可以忽略不计。但我左耳的听力始终不好，你如果站在我的左边跟我说话，我就有可能一点儿也听不见。</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>content</key>
		<string>虽然是这样，我并不觉得自己有什么不好，在十七岁以前，我是那样单纯地爱着我自己，就像这个世界上很多好心的人，那样单纯地爱着我。

可是，比较老土的是，我在十七岁的某一天，忽然情窦初开了。我始终想不起那一天的天气，我只是记住了他的脸，在学校的对面，黄昏的街道旁，斜斜靠着栏杆的一个男生，背了洗得发白的大书包。他的脸，是如此的英俊。那是我第一次见到他，吓得我掉过了头去，心莫名其妙地狂跳不停</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>content</key>
		<string>我一度非常痛恨这个名字，因为后面那个字在电脑上用五笔很难打出来。我练了好多天，才可以顺利地一遍一遍地重复。

白色的屏幕上，全是这个名字，我用红色，将其打得又大又鲜活。好像他，就站在我的面前。

在知道许弋后，我的博客才有了一点儿真正的含义。</string>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>content</key>
		<string>事实就是这样子，我们并不认识，也没有机会认识。我只知道他读高三，快要毕业了，他成绩很好，我还知道的就是，有个读技校的女生正在疯狂地追他</string>
	</dict>
</array>
</plist>
